<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>

    <link rel="stylesheet" href="../static/css/cars.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <div class="bg">
            <h3 class="title">Select Car</h3>
            <form class="card" id="form" onsubmit="(e) => e.preventDefault()">
                <div class="wrap">
                    <h6 class="wtitle">Place</h6>
                    <select type="text" name="location" id="location" placeholder="Select location" required>
                        <% locations?.forEach(function(loc, i, entries){ %>
                            <option class="lelm"><%= loc.toUpperCase() %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="wrap">
                    <h6 class="wtitle">Pickup Date</h6>
                    <input type="date" name="date" id="pdate" required class="wsub">
                </div>
                <div class="wrap">
                    <h6 class="wtitle">Pickup Time</h6>
                    <input type="time" name="time" id="time"  max="22:00" placeholder="10:10 am" required class="wsub" disabled>
                </div>
                <div class="wrap">
                    <h6 class="wtitle">Drop Date</h6>
                    <input type="date" name="ddate" id="ddate" required class="wsub" disabled>
                </div>
                <div class="wrap">
                    <h6 class="wtitle">Drop Time</h6>
                    <input type="time" name="dtime" id="dtime"  max="22:00" placeholder="10:10 am" required class="wsub" disabled>
                </div>
                <div class="wrap " id="loader">
                    <button type="button" onclick="initFetch()" class="bbtn idbtn sbt">
                        <div class="circle" id="load" style="display: none;"></div>
                        <p class="hide">Search</p>
                        <ion-icon name="search" id="search" style="font-size:19px"></ion-icon>
                    </button>
                </div>
            </form>
            <div class="slider">
                
            </div>
            <div class="slider slider2">
                <p class="title otitle" style="text-align: center; margin-top:30px; display:none">Other Locations</p>
            </div>
        </div>
    </div>

    <script>
        const slider = document.getElementsByClassName("slider")[0];
        const slider2 = document.getElementsByClassName("slider2")[0];
        const container = document.getElementsByClassName("container")[0];
        const formD = document.getElementById("form")
        const pdate = document.getElementById("pdate");
        const ddate = document.getElementById("ddate");
        document.onload = () => {
            formD['date'].value = sessionStorage.getItem("date") || ""
            formD['ddate'].value = sessionStorage.getItem("ddate") || ""
            formD['time'].value = sessionStorage.getItem("time") || ""
            formD['dtime'].value = sessionStorage.getItem("dtime") || ""
        }   

        formD['date'].addEventListener("change", () => {
            var now = new Date();
            if(now.toISOString().split('T')[0] === formD['date'].value){
                var hours = now.getHours();
                var minutes = now.getMinutes();
                if (minutes < 10) {
                    minutes = '0' + minutes;
                }
                formD['time'].min = hours + ':' + minutes;
                if(formD['time'].min > "22:00"){
                    formD['time'].max = hours + ':' + minutes;
                }
            }else{
                formD['time'].max = "22:00";
                formD['time'].removeAttribute("min")
            }
            formD['time'].disabled = false
        })
        formD['time'].addEventListener("change", () => {
            formD['ddate'].disabled = false
        })
        formD['ddate'].addEventListener("change", () => {
            formD['dtime'].disabled = false
        })

        form['ddate'].addEventListener("focusout", () => {
            let dateTime = new Date(form['date'].value+"T" + form['time'].value + "Z")
            let dropDateTime = new Date(form['ddate'].value);
            let diff = Math.abs(dropDateTime - dateTime) - 8.64e+7;
            if(diff <= 1.0){
                form['dtime'].min = form['time'].value
                form['dtime'].value = form['time'].value;
            }else{
            };
        })
        pdate.min = new Date().toISOString().split("T")[0];
        ddate.onfocus = () => {
            let dates = pdate.value.split("-");
            let dateObj = new Date(dates[0], dates[1] - 1, dates[2]); // months are 0-indexed in JS
            dateObj.setDate(dateObj.getDate() + 1);
            let newDate = dateObj.getFullYear() + '-' + ('0' + (dateObj.getMonth() + 1)).slice(-2) + '-' + ('0' + dateObj.getDate()).slice(-2);
            ddate.min = newDate;
        }

        const initFetch = () => {
            if(formD['date'].value != "" &&
            formD['ddate'].value != "" &&
            formD['time'].value != "" &&
            formD['dtime'].value != ""){
                document.getElementById("load").style.display = "flex";
                document.getElementById("search").style.display = "none";
                let start = formD["date"].value;
                let end = formD["ddate"].value;
                let loc = formD["location"].value;
                let time = formD["time"].value;
                let dtime = formD["dtime"].value;

                const carsCards = document.querySelectorAll(".carcard");
                if(carsCards.length > 0){
                    carsCards.forEach((card) => {
                        card.remove()
                    })
                }

                fetch(`/admin/allCars`, {
                    headers:{
                        startDate: start,
                        endDate: end,
                        time: time,
                        dtime: dtime,
                        loc: loc
                    }
                }).then(res => res.json().then(data => {
                    document.getElementById("load").style.display = "none";
                    document.getElementById("search").style.display = "flex";
                    let diff = data?.diff;
                    data?.cars.forEach((car, i) => {
                        const newCar = document.createElement("div");
                        newCar.classList.add("carcard");
                        // newCar.onclick = () => showPopup(i)
                        let carData = ` <img onclick = "showPopup(${i})" src="${car.image}" alt="" class="img">
                            <div class="twrap">
                                <div class="col" onclick = "showPopup(${i})">
                                    <h3 class="title">${car.brand}</h3>
                                    <p class="ssub">${car.desc}</p>
                                    <div class="row">
                                        <p class="price bold">${Math.ceil(car.amount / 24)}/hr</p>
                                        <p class="price">${car.fueltype}</p>
                                        <p class="price">${car.location}</p>
                                    </div>
                                </div>
                                <div class="price pmb">
                                    <div onclick = "showPopup(${i})">
                                        <p class="cost">${car.amount * diff}/-</p>
                                        <p class="label">Total Estimated <br />Amount</p>
                                    </div>
                                    <div class="wrapRow">
                                        ${
                                            car.timeLeft != undefined ? `<button class="bbtn tm mb">${car.timeLeft}Hrs Left to book the car</button>` : `<button class="bbtn mb" onclick = "bookHandler(${i})">Book Now</button>
                                        <button class="bbtn outer ${car._id} ${i}" onclick = "showPopup(${i})">View more</button>`
                                        }
                                    </div>
                                </div>
                        </div>`
                        newCar.innerHTML = carData;
                        if(loc.toLowerCase() == car.location.toLowerCase()){
                            slider.appendChild(newCar)
                        }else{
                            slider2.appendChild(newCar);
                            document.getElementsByClassName("otitle")[0].style.display = "block"
                        }
                    })
                }))
            }else{
                const msg = document.createElement("div");
                const body = document.getElementsByTagName("body")[0];
                msg.classList.add("msg");
                msg.textContent = "Please fill all the details";
                body.appendChild(msg);
            }
        }
        
        
        const closePopup = () => {
            const popup = document.getElementsByClassName("popup")[0];
            container.removeChild(popup);
        }
        const showPopup = (id) => {
            const car_id = document.getElementsByClassName(id)[0].classList[2];
            fetch(`/admin/getCar/${car_id}`).then(res => res.json().then((data) => {
                const popup = document.createElement("div");
                popup.classList.add("popup");
                popup.onclick = () => closePopup()
                const pdata = `
            <div class="inner">
                <div class="title">${data.brand}</div>
                <div style="display: flex; gap: 20px; flex-direction: column;">
                    <img src="${data.image}" alt="" class="img">
                    <div class="wrap">
                        <div class="grid">
                            <div class="subwrap">
                                <p class="sub">${data.geartype}</p>
                                <div class="tit">gear type</div>
                            </div>
                            <div class="subwrap">
                                <p class="sub">${data.fuelcap}</p>
                                <div class="tit">fuel capacity</div>
                            </div>
                            <div class="subwrap nob">
                                <p class="sub">${data.seating}</p>
                                <div class="tit">seating capacity</div>
                            </div>
                            <div class="subwrap">
                                <p class="sub">${data.luggage}</p>
                                <div class="tit">luggage</div>
                            </div>
                            <div class="subwrap">
                                <p class="sub">${data.mileage}</p>
                                <div class="tit">milage</div>
                            </div>
                            <div class="subwrap nob">
                                <p class="sub">${data.fueltype}</p>
                                <div class="tit">Fuel Type</div>
                            </div>
                        </div>
                        <div class="btnWrap">
                            <button class="bbtn cbtn" onclick="closePopup()">Cancel</button>
                            <button class="bbtn idbtn ${car_id}" id="idbtn" onclick="bookHandler()">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>`
            popup.innerHTML = pdata;
            container.appendChild(popup);
            }))
        }

        const bookHandler = async(i) => {
            const id = document.getElementById("idbtn") || document.getElementsByClassName(i)[0]
            const token = localStorage.getItem("token");
            const subs = document.querySelectorAll(".wsub");
            const data = [];
            subs.forEach((s) => data.push(s.value));
            let d = {data, city: "<%- city %>", carid: id.classList[2] || sessionStorage.getItem("carid"), service: "<%- service %>"|| sessionStorage.getItem("service")}
            fetch("/booking/confirmBooking", {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'token': token,
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(d)
            }).then(res => res.json().then(data => {
                if(res.status == 400){
                    sessionStorage.setItem("sessionToken", data.sid);
                    window.location.href = `/auth/register`
                }
                else{
                    window.location.href = `/booking/book?id=${data.msg}`
                }
            }))
        }
    </script>
</body>
</html>