<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cars.css">
    <title>CheloRide</title>
</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <h3 class="title">Select Car</h3>
        <div class="card">
            <div class="wrap">
                <h6 class="wtitle">Place</h6>
                <h3 class="wsub" id="location"><%= location %></h3>
            </div>
            <div class="wrap">
                <h6 class="wtitle">Pickup Date</h6>
                <h3 class="wsub" id="pdate"><%= date %></h3>
            </div>
            <div class="wrap">
                <h6 class="wtitle">Pickup Time</h6>
                <h3 class="wsub" id="time"><%= time %></h3>
            </div>
            <div class="wrap">
                <h6 class="wtitle">Drop Date</h6>
                <h3 class="wsub" id="ddate"><%= ddate %></h3>
            </div>
            <div class="wrap">
                <h6 class="wtitle">Drop Time</h6>
                <h3 class="wsub" id="time"><%= dtime %></h3>
            </div>
        </div>
        
        <div class="slider">
        </div>
        <div class="slider slider2">
            <p class="title otitle" style="text-align: center; margin-top:30px; display:none">Other Locations</p>
        </div>
    </div>

    <script>
        const slider = document.getElementsByClassName("slider")[0];
        const slider2 = document.getElementsByClassName("slider2")[0];
        const container = document.getElementsByClassName("container")[0];
        let start = '<%- date %>'
        let end = '<%- ddate %>';
        let loc = "<%- location %>"
        fetch(`/admin/allCars`, {
            headers:{
                startDate: start,
                endDate: end,
                loc: loc
            }
        }).then(res => res.json().then(data => {
            let diff = data?.diff;
            console.log(diff)
            data?.cars.forEach((car, i) => {
                const newCar = document.createElement("div");
                newCar.classList.add("carcard");
                newCar.onclick = () => showPopup(i)
                let carData = ` <img src="${car.image}" alt="" class="img">
                    <div class="twrap">
                        <div class="col">
                            <h3 class="title">${car.brand}</h3>
                            <p class="ssub">${car.desc}</p>
                            <div class="row">
                                <p class="price bold">${Math.ceil(car.amount / 24)}/hr</p>
                                <p class="price">${car.fueltype}</p>
                                <p class="price">${car.location}</p>
                            </div>
                        </div>
                        <div class="price pmb">
                            <div>
                                <p class="cost">${car.amount * diff}/-</p>
                                <p class="label">Total Estimated <br />Amount</p>
                            </div>
                            <button class="bbtn ${car._id} ${i}" onclick = "showPopup()">View more</button>
                        </div>
                </div>`
                newCar.innerHTML = carData;
                if(loc.toLowerCase() == car.location.toLowerCase()){
                    slider.appendChild(newCar)
                }else{
                    slider2.appendChild(newCar);
                    document.getElementsByClassName("otitle")[0].style.display = "block"
                }
            })
        }))
        const closePopup = () => {
            const popup = document.getElementsByClassName("popup")[0];
            console.log(popup)
            container.removeChild(popup);
        }
        const showPopup = (id) => {
            const car_id = document.getElementsByClassName(id)[0].classList[1];
            fetch(`/admin/getCar/${car_id}`).then(res => res.json().then((data) => {
                const popup = document.createElement("div");
                popup.classList.add("popup");
                popup.onclick = () => closePopup()
                const pdata = `
            <div class="inner">
                <div class="title">${data.brand}</div>
                <div style="display: flex; gap: 20px; flex-direction: column;">
                    <img src="${data.image}" alt="" class="img">
                    <div class="wrap">
                        <div class="grid">
                            <div class="subwrap">
                                <p class="sub">${data.geartype}</p>
                                <div class="tit">gear type</div>
                            </div>
                            <div class="subwrap">
                                <p class="sub">${data.fuelcap}</p>
                                <div class="tit">fuel capacity</div>
                            </div>
                            <div class="subwrap nob">
                                <p class="sub">${data.seating}</p>
                                <div class="tit">seating capacity</div>
                            </div>
                            <div class="subwrap">
                                <p class="sub">${data.luggage}</p>
                                <div class="tit">luggage</div>
                            </div>
                            <div class="subwrap">
                                <p class="sub">${data.mileage}</p>
                                <div class="tit">milage</div>
                            </div>
                            <div class="subwrap nob">
                                <p class="sub">${data.fueltype}</p>
                                <div class="tit">Fuel Type</div>
                            </div>
                        </div>
                        <div class="btnWrap">
                            <button class="bbtn cbtn" onclick="closePopup()">Cancel</button>
                            <button class="bbtn idbtn ${car_id}" onclick="bookHandler()">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>`
            popup.innerHTML = pdata;
            container.appendChild(popup);
            }))
        }

        const bookHandler = async() => {
            const id = document.getElementsByClassName("idbtn")[0].classList[2]
            const token = localStorage.getItem("token");
            if(token != null){
                    const subs = document.querySelectorAll(".wsub");
                    const data = [];
                    subs.forEach((s) => data.push(s.textContent));
                    console.log(data, token, id);
                    let d = {data, carid: id}
                    fetch("/booking/confirmBooking", {
                        method: 'POST',
                        headers: {
                        'Accept': 'application/json',
                        'token': token,
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(d)
                    }).then(res => res.json().then(data => {
                        window.location.href = `/booking/book?id=${data.msg}`
                }))
            }else{
                window.location.href = "/auth/login"
            }
            
        }
    </script>
</body>
</html>