<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>

    <link rel="stylesheet" href="../static/css/booking.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <p id="id" hidden><%= id %></p>
        <h2 class="title">Checkout</h2>
        <h5 class="sub">Please make sure to check all your details, terms and conditions before payment.</h5>
        <div class="details">
            <div class="bx1">
                <h2 class="stit"><%=data.brand %></h2>
                <div class="flx">
                    <p class="data bg"><span class="span">Booking Date:</span> <%=data.date %></p>
                    <div class="line"></div>
                    <p class="data bg"><span class="span">Drop Date:</span> <%=data.ddate %></p>
                </div>
                <div class="row">
                    <p class="data"><span class="span">Booking<br/>Time:</span> <%=data.time %></p>
                    <p class="data"><span class="span">Booking<br/> By:</span> <%=data.email %></p>
                    <p class="data"><span class="span">Location:</span> <%=data.location %></p>
                </div>
            </div>
            <div class="bx1 w2">
                <h2 class="stit">Billing</h2>
                <div class="row">
                    <p class="span">Service Type
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <div class="info">
                            We are providing two kinds of services to the customers - selfdriven and taxi.
                        </div>
                    </p>
                    <p class="amt"><%=data.service %></p>
                </div>
                <% if (data.serviceCharges !== 0) { %>
                    <div class="row">
                        <p class="span">Driver Charges <ion-icon name="information-circle-outline"></ion-icon>
                        <div class="info">
                            Minimum charges of 1300 will be added as driver charges.
                        </div></p>
                        <p class="amt"><%=data.serviceCharges %>/-</p>
                    </div>
                <% } %>
                <div class="row">
                    <p class="span">Price Per Day</p>
                    <p class="amt"><%=data.price %>/-</p>
                </div>
                <div class="row">
                    <p class="span">No of Days</p>
                    <p class="amt"><%=data.days %>days</p>
                </div>
                <div class="row">
                    <p class="span">Total Amount
                    <p class="amt"><%=data.tamount %>/-</p>
                </div>
                <div class="row">
                    <p class="span">GST (18%) <ion-icon name="information-circle-outline"></ion-icon>
                        <div class="info">
                            RCM on GST Act: The recipient pays 18% GST on behalf of the unregistered supplier and can claim input tax credit
                        </div></p>
                    <p class="amt"><%=data.gst %>/-</p>
                </div>
            </div>
            <div class="bx1">
                <h2 class="stit">Terms and Conditions</h2>
                <div class="row" style="margin-top:0;">
                    <input type="checkbox" id="hcheck" name="accept" value="yes" hidden>
                    <div id="check">
                        <div id="checked">
                            <ion-icon name="checkmark"></ion-icon>
                        </div>
                    </div>
                    <h2 class="status stit" style="margin-bottom: 0; font-weight: normal;">I accept and agree to the <a class="status" style="color: rgb(110, 110, 255); font-weight: bolder;" href="/terms&conditions">Terms and Conditions</a></h2>
                </div>
                <div class="row" style="margin-top:10px;">
                    <input type="checkbox" id="h2check" name="accept" value="yes" hidden>
                    <div id="check2">
                        <div id="checked2">
                            <ion-icon name="checkmark"></ion-icon>
                        </div>
                    </div>
                    <h2 class="status stit" style="margin-bottom: 0; font-weight: normal;">I accept the <a class="status" style="color: rgb(110, 110, 255); font-weight: bolder;" href="/privacyPolicy">Privacy Policy and Fee Policy</a></h2>
                </div>

                <h2 class="stit" style="margin-top: 40px; ">Required Documents</h2>
                <div class="row" style="margin-top: 0;">
                    <div class="sub" style="text-align:left;">Aadhar, Driving license, Student id (or) job id (or) business gst</div>
                </div>
            </div>
            <div class="gt">
                <button class="btn" onclick="bookingHandler()">Pay Now</button>
                <div class="cnt1">
                    <p class="amt"><%=data.amount %>/-</p>
                    <h2 class="stit">Grand Total</h2>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.sessionStorage.clear();
        const id = document.getElementById("id").textContent;
        const details = document.getElementsByClassName("details")[0];
        const btn = document.getElementsByClassName("btn")[0];
        const check = document.getElementById("check");
        const check2 = document.getElementById("check2");
        const checked = document.getElementById("checked");
        const checked2 = document.getElementById("checked2");
        const checkH = document.getElementById("hcheck");
        const checkH2 = document.getElementById("h2check");

        window.onload = () => {checkH.checked = false; checkH2.checked = false}

        check.onclick = () => {
            checkH.click()
            if(checked.classList.contains("checked")){
                checked.classList.remove("checked");
            }else{
                checked.classList.add("checked")
            }
        }
        check2.onclick = () => {
            checkH2.click()
            if(checked2.classList.contains("checked")){
                checked2.classList.remove("checked");
            }else{
                checked2.classList.add("checked")
            }
        }

        const bookingHandler = () => {
            if(checkH2.checked && checkH.checked){
                btn.innerHTML = "<div class='circle'></div>";
                btn.setAttribute("disabled", true);
                let data = {tempid: id}
                fetch("/booking/book", {
                    method: 'POST',
                    headers: {
                    'Accept': 'application/json',
                    'token': localStorage.getItem("token"),
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then((res => {
                    btn.removeAttribute("disabled")
                    res.json().then(data => {
                    const msg = document.createElement("div");
                    btn.innerHTML = "Checkout"
                    msg.classList.add("msg");
                    msg.innerHTML = `
                    <div class="bgcircle">
                    <ion-icon name=${res.status === 200 ? "checkmark" : "close"} style="color:${res.status === 200 ? " rgb(255, 255, 255)" : "red"}; font-size:70px"></ion-icon>
                    </div>
                    ${data.msg}
                    <a href="/booking" style="margin-top: 20px;">
                        <button class="btn" style=" font-size: 10px;">Your Bookings</button>
                    </a>`;
                    document.getElementsByTagName("body")[0].appendChild(msg);
                    setTimeout(() => {
                        window.location.href = "/booking"
                    }, 3000);
                }
                )}))
            }else{
                check.style.border = "2px solid red";
                check.style.background = "rgba(255, 0, 0, 0.279)";
                check2.style.border = "2px solid red";
                check2.style.background = "rgba(255, 0, 0, 0.279)";
            }
        }
    </script>
</body>
</html>